body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25) !important;
}

.card {
  margin: 10px !important;
}
.event__summary{
  height:100px;
  display: flex;
  align-items: center;
}
.event__detailsButton {
  background-color: #f5eedc;
  border: #c0d8c0;
  color: #470d21;
  box-shadow: none;
}
.event__detailsButton:hover {
  background-color: #a4b8a4;
  border: #f5eedc;
  box-shadow: none;
}
.event__detailsButton:focus {
  box-shadow: none;
}

.suggestions {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}
.suggestions {
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}
.CitySearch {
  position: relative;
}
.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}
ul {
  padding: 0;
  list-style: none;
}
